<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" 
	content="width=device-width, initial-scale=1, maximum-scale=1">
	<link rel="stylesheet" href="C:\Users\14454\Documents\Диплом\Verstka\static\main for visual.css" type="text/css"/>
	<link rel="stylesheet" href="{{ url_for( 'static', filename='main.css', v=1)}}"/>
	<link rel="icon" type="image/x-icon" href="C:\Users\14454\Documents\Диплом\Verstka\static\harvest.png" sizes="256x256"> 
	<title>Agricola</title>

</head>
<body>		
<div class="intro">
	<header class="header">
		<div class="container">
			<div class="header_in">
				<div class="logpic"><img src="C:\Users\14454\Documents\Диплом\Verstka\static\img\logo.png" height="230px" width="230px"></div>
					<ul>
						<li><a href="#">Главная</a></li>
						<li><a href="#">Форум</a></li>
						<li><a href="#">Материалы</a></li>
						<li><a href="#">Блог</a></li>
						<li><a href="#">Вопросы и Ответы</a></li>
					</ul>		
			</div>
		</div>
	</header>

	
	<div class="title">AGRICOLA</div>
	<div class="btn"><button class="btnstyle"><a href="#">Скачать игру</a></button></div>
</div>

		
<div class="container2">
		
		<div class="textabout" align="center">
			<div class="bordertop"></div>
				Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet, quia voluptas sit, aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos, qui ratione voluptatem sequi nesciunt, neque porro quisquam est, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat?
			<div class="borderbot">		
		</div>
			</div>
			<div class="titlegame" align="center">Игровой процесс</div>
						
		<div class="gameplay">
			<a href="C:\Users\14454\Documents\Диплом\Verstka\static\img\1.jpg">
				<div class="img_bg">
					<img src="C:\Users\14454\Documents\Диплом\Verstka\static\img\1.jpg" class="foc">
				</div>
			</a>
			<a href="C:\Users\14454\Documents\Диплом\Verstka\static\img\1.jpg">	
				<div class="img_bg">
					<img src="C:\Users\14454\Documents\Диплом\Verstka\static\img\2.jpg" class="foc">
				</div>
			</a>
			<a href="C:\Users\14454\Documents\Диплом\Verstka\static\img\1.jpg">
				<div class="img_bg">
					<img src="C:\Users\14454\Documents\Диплом\Verstka\static\img\3.jpg" class="foc">
				</div>
			</a>
		</div>					
</div>

<div class="container3">
	<div class="features" align="center">Особенности игры</div>
		<div align="center">
			<ul class="featuresul">
				<li class="featuresli">
					<span class="colorli">Создайте ферму которую всегда хотели:</span> Покупайте семена и выращивайте из них потрясающие растения!
				</li>
				<li class="featuresli">
					<span class="colorli">Занимайтесь экономикой:</span> Торгуйте со множеством жителей городка!
				</li>
				<li class="featuresli">
					<span class="colorli">Развивайтесь по вашему усмотрению:</span> Рыбачьте, ухаживайте за растениями и многое другое.
				</li>		
			</ul>
		</div>
</div>


<footer class="footer">
	<div class="footertitle">Связь с нами</div>
	<div class="footerdecr">Вы можете связаться с командой разработчиков при помощи социальных сетей.</div>
		<div class="btnfooter">
			<a href="#"><button class="buttonSN1">
				<div class="textbtn">Telegram</div>
			</button></a>
			<a href="#"><button class="buttonSN2">
				<div class="textbtn">Discord</div>
			</button></a>
			<a href="#"><button class="buttonSN3">
				<div class="textbtn">Email</div>
			</button></a>
		</div>
	<div class="copy">Agricola Copyright © 2021</div>
	<div class="policy"><a href="#">Политика приватности</a> | <a href="#">Условия пользования</a></div>


</footer>


</body>
</html>