body {
	margin: 0;
	padding: 0;
	font-family: Philosopher;
	font-style: normal;
	font-weight: normal;
	background: rgba(251, 216, 122, 1);
	background: url('/static/img/bg1.jpg') no-repeat fixed center center / cover;
}


html {
overflow-x: hidden;
overflow-y: scroll;
}

* {
	box-sizing: border-box;
}

div {
	display: block;
}
/*Настройка скроллбара*/
/*Регулировка ширины*/
::-webkit-scrollbar {
  width: 7px;
}
/*Создание тени для полосы прокрутки*/
::-webkit-scrollbar-track {
  -webkit-box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.2);
  background-color: white;
}

/*Стилизация индикатора прокрутки*/
::-webkit-scrollbar-thumb {
	border-radius: 10px;
	background: linear-gradient(180deg, #795bab, #52849f);
}

/*Стилизация навигационного меню*/
.header_in{
	display: flex;
	justify-content: space-around;
	align-items: center;
	max-height: 150px;

}


/*Стилизация кнопок*/
ul {
	display: flex;
	justify-content: center;
	align-items: center;

}
li {
	list-style: none;
	font-size: 20px;
	text-transform: uppercase;
	margin: 40px;
	user-select: none;


}
/*Эффекты для текста при наведении*/
a {
	list-style: none;
	text-decoration: none;
	color: black;
}


li a {
  list-style: none;
  display: inline-block;
  font-weight: 700;
  position: relative;
 	padding-bottom: 5px;
}


li a:after {
  content: "";
  border-bottom: 2px solid #e8793e;
  display: block;
  width: 0px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform:  scaleX(0);
}


li a.bloom::after {
  content: "";
  display: block;
  width: 0px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform:  scaleX(0);
	box-shadow: 0 0 25px 8px rgba(233, 150, 122, 0.5);
}


li a:hover:after {
  width: 100%;
  left: 0;
  transition: all .5s linear;
  transform: scaleX(1);
}

.titlegame {
	font-size: 100px;
	color: #fbd87a;
	text-transform: uppercase;
	text-shadow: #000 2px 0 0px, #000 0 2px 0px, #000 -2px 0 0px, #000 0 -2px 0px;
}


/*Стилизация блока информации*/
.post {
	display: block;
	width: 75%;
	height: 100%;
	background-color: white;
	align-items: center;
	margin: 0 auto;
	margin-top: 150px;
	border: solid 10px transparent;
	border-radius: 10px;
	border-image: linear-gradient(180deg, #52849f, #795bab);
	border-image-slice: 1; /*Растягивание градиента на всю обводку*/
	padding: 20px;
	background: rgba(252, 231, 172, 0.65);
	line-height: 1;
}
 h2 {
 	font-size: 30px;
 	font-family: Philosopher;
 	letter-spacing: 1px;
 }

 p {
 	font-size: 18px;
 	font-family: Calibri;
 	text-align: justify;
 }


table.wikitable {
	background: transparent;
	border-collapse: separate;
	border: none;
}

tbody {
	display: table-row-group;
	vertical-align: middle;
}

th {
	background-color: #52849f;
	text-align: center;
	color: white;
	margin: 0 auto;
	padding: 10px;
}

td.aboutsection {
	background-color: rgba(255,255,255,0.58);
	border: solid 1px #8DCAF0;
	padding: 0.3em;
}

.mainsection {
	background-color: rgba(255,255,255,0.58);
  float: left;
  width: 100%;
}

.singlesection {
	vertical-align: top;
}

#single {
	width: 50%;
	float: left;
	border: solid 1px #8DCAF0;
	padding-bottom: 10px;
}

#mainsection {
	width: 100%;
}

.doublesection {
	vertical-align: top;
}

#double {
	width: 100%;
	float: left;
	border: solid 1px #8DCAF0
}

.wikiblock {
	display: flex;
	align-items: center;
}

.wiki {
	font-size: 20px;
	font-family: Calibri;
	font-weight: bold;
	padding-left: 10px;
}

.imgsize {
	width: 32px;
	height: 32px;
}

a.wiki {
	text-decoration: all;
	color: #00bfff;
}

a.wiki:hover {
	transition: 0.5s;
	color: #f2bf56;
	text-shadow: #000 1px 0 0px, #000 0 1px 0px, #000 -1px 0 0px, #000 0 -1px 0px;
}
